header{
    background-color: brown;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    font-family: 'Courier New', Courier, monospace;
}

div{
    display: flex;

}

@media(max-width:375px){
    div{
        flex-direction: column-reverse;
    }
    header{
        
        position: absolute;
        top: 700px;
    }
}